<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class=" container text-center mt-5">
        <h1 class="title text-danger">About Us</h1>
        <p>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>
        <p>Save your favorites easily and always have something to watch.</p>
        <p>Watch everywhere.
            Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</p>
    </div>
    <div class=" container text-center mt-5">
        <h1 class="title text-danger">Partners</h1>
        <p>Create profiles for kids.
            Send kids on adventures with their favorite characters in a space made just for them—free with your membership.</p>
        <p>Adultlike behavior means talking openly about issues with your boss, your colleagues, and your subordinates. It means recognizing that even in companies with reams of HR policies, those policies are frequently skirted as managers and their reports work out what makes sense on a case-by-case basis.</p>
     
    </div>
    <div class=" container text-center mt-5">
        <h1 class="title text-danger">Visions</h1>
        <p>The first took place in late 2001. Netflix had been growing quickly: We’d reached about 120 employees and had been planning an IPO. But after the dot-com bubble burst and the 9/11 attacks occurred, things changed. It became clear that we needed to put the IPO on hold and lay off a third of our employees. It was brutal. Then, a bit unexpectedly, DVD players became the hot gift that Christmas. By early 2002 our DVD-by-mail subscription business was growing like crazy. Suddenly we had far more work to do, with 30% fewer employees.</p>
        
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>